body {
    width: 250px;
}

#loginBlock {
    display: none;
}

#prBlock {
    display: none;
}

#noPrsBlock {
    color: gray;
}

.text-align-right {
    text-align: right;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: end;
}

.bold {
    font-weight: bold;
}

.pt-8 {
    padding-top: 8px
}

.gap-4 {
    gap: 4px;
}

#errorMessage {
    margin-top: 8px;
    color: red;
    display: none;
}

.align-center {
    align-items: center;
}

#submitButton {
    background-color: white;
    border: 1px black solid;
}

#submitButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#refreshIcon:hover {
    cursor: pointer;
}
