@font-face {
    font-family: 'Inter';
    src: url('/fonts/InterVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/InterVariable-Italic.woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
}

body {
    width: 300px;
    font-family: "Inter", serif;
}

#loginBlock {
    display: none;
}

#authorDiv {
    width: fit-content;
    color: inherit;
    text-decoration: inherit;
    display: flex;
    margin-top: 4px;
    gap: 2px;
}

#authorDiv>img {
    height: 14px;
    border-radius: 50%;
}

#firstPrLine {
    display: flex;
    gap: 4px;
    justify-content: space-between;
}

#firstPrLine>a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#firstPrLine>div {
    flex-shrink: 0;
    text-align: right;
}

#prBlock {
    display: none;
}

#noPrsBlock {
    color: gray;
}

.text-align-right {
    text-align: right;
}

.flex {
    display: flex;
}

.justify-end {
    justify-content: end;
}

.bold {
    font-weight: bold;
}

.pt-8 {
    padding-top: 8px
}

.gap-4 {
    gap: 4px;
}

#errorMessage {
    margin-top: 8px;
    color: red;
    display: none;
}

.align-center {
    align-items: center;
}

#prList>div {
    border-top: 1px solid black;
    padding: 8px;
}

#prList>div:last-child {
    border-bottom: 1px solid black;
}

#submitButton {
    background-color: white;
    border: 1px black solid;
}

#submitButton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#refreshIcon {
    justify-content: center;
    align-items: center;
    display: flex;
}

#refreshIcon:hover {
    cursor: pointer;
}
